.App {
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

/* PC , 테블릿 가로 (해상도 768px ~ 1023px)*/ 
@media all and (min-width:768px) and (max-width:1023px) {
  /*스타일입력*/
} 

/* 테블릿 세로 (해상도 768px ~ 1023px)*/ 
@media all and (min-width:768px) and (max-width:1023px) {
  /*스타일입력*/
} 

/* 모바일 가로, 테블릿 세로 (해상도 480px ~ 767px)*/ 
@media all and (min-width:480px) and (max-width:767px) {
  /*스타일입력*/
} 

/* 모바일 가로, 테블릿 세로 (해상도 ~ 479px)*/ 
@media all and (max-width:479px) {
  /*스타일입력*/
}



.Div1 {
  position: relative;
  width: 100%;
  height: 100vh;
}

.Fixed {
  position: fixed;
  width: 100%;
  z-index: 0;
}

.Imagebox {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.Mainimage{
  width:100%;
  height:100%;
  object-fit:cover;
}

.Ssentence {
  position: absolute;
  display: flex;
  flex-direction: column;
  text-align: left;
  color:white;
  top: 80px;
  left: 40px;
}

.Logo {
  color: black;
  position: fixed;
  top: 40px;
  left: 40px;
  z-index: 100;
}

.Logo img {
  width:80px;
}

.Small1 {
  color: white;
  margin-top: 20px;
  font-weight: 800;
  font-size: 64px;
  line-height: 77px;

  animation: fadein 2s ease-in-out;
}

.Small2 {
  color: #FF8000;
  font-weight: 800;
  font-size: 64px;
  line-height: 77px;

  animation: fadein 2s ease-in-out;
}

.Bsentence {
  position: absolute;
  bottom: 40px;
  left: 40px;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.Big1 {
  font-weight: 800;
  font-size: 64px;
  line-height: 77px;
  color: white;

  animation: fadein 5s ease-in-out;
}

.Big2 {
  font-weight: 800;
  font-size: 32px;
  line-height: 48px;
  color: white;

  animation: fadein 5s ease-in-out;
}

.Logobox {
  position: absolute;
  display: flex;
  bottom: 40px;
  right: 40px;
}

.Logobox img {
  margin-left: 40px;
  height: 40px;
  width: 40px;
}

/* 여기까지 div1 css */

.Div2 {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: white;
}

.PageTitle {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; 
}

.Title {
  font-weight: 800;
  font-size: 40px;
  line-height: 48px;
}

.Graph {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.TopLine {
  border: 5px solid #000000;
  width: 120px;
}

.Lines {
  display: flex;
  width: 130px;
  height: 1415px;
  justify-content: space-between;
}

.Lines div {
  border: 1px solid #000000;
}

.Clef {
  position: absolute;
  top: 0;
  transform: rotate(90deg);
  width: 96px;
  height: 200px;
  overflow: hidden;
}

.Clef img {
  width:100%;
  height:100%;
  object-fit:cover; 
}

.Note {
  position: absolute;
  font-size: 0px;
  text-align: left;
  width: 50%;
  top: 300px;
  left: 47%;
}

.Note .ThisNote {
  display: flex;
  justify-content: space-between;
}

.Note .ThisNote img{
  font-size: 0px;
}

.Note .ThisNote .About{
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
}

.Note .NoteLine {
  border: 1px solid #000000;
  margin-left: 12px;
}

/* 여기까지 파트2 디자인 */

.Div3 {
  position: relative;
  width: 100%;
  height: 100vh;
  background: #F9F9F9;
}

.CardTitle {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; 
}

.CardPart {
  display: flex;
  flex-direction: column;
  height: 80%;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center; 
}

.Card {
  position: relative;
  height: 70%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.SlideBar {
  height: 5%;
  width: 100px;
  display: flex;
  justify-content: space-between;
}

.Select {
  width: 30px;
  height: 30px;
  border: none;
  background-color: #F9F9F9;
  cursor: pointer;
}

.More {
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.More a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.More a:visited {
  color: black;
  text-decoration: none;
}

.Profile1 {
  position: absolute;
  width: 314px;
  height: 314px;
  overflow: hidden;
  z-index: 2;
  border-radius: 30px;
  box-shadow:  10px 10px 20px #bebebe,
              -10px -10px 20px #2c2c2c;
}

.Profile1 img {
  width:100%;
  height:100%;
  object-fit:cover; 
}

#card1 {
  right: 64%;
}

#card5 {
  left: 64%;
}

.Profile2 {
  width: 364px;
  height: 364px;
  position: absolute;
  z-index: 3;
  overflow: hidden;
  border-radius: 30px;
  box-shadow:  5px 5px 10px #bebebe,
              -10px -10px 20px #2c2c2c;
}

.Profile2 img {
  width:100%;
  height:100%;
  object-fit:cover; 
}

#card2{
  right: 50%;
}

#card4{
  left: 50%;
}

.Profile3 {
  width: 414px;
  height: 414px;
  z-index: 4;
  overflow: hidden;
  border-radius: 30px;
  box-shadow:  5px 5px 10px #bebebe,
              -10px -10px 20px #2c2c2c;
}

.Profile3 img {
  width:100%;
  height:100%;
  object-fit:cover; 
}

.Members {
  font-weight: 600;
  font-size: 24px;
  line-height: 48px;
}

.Arrow {
  margin-left: 10px;
}

.Arrow img {
  width: 30px;
  height: 15px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}




@keyframes fadein{
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}