.Main {
  background-color: #d2e1f6;
  width: 100%;
  padding-top: 200px;
  justify-content: center;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.Years {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.Num {
  width: 92px;
  height: 77px;
  font-weight: 800;
  font-size: 64px;
  line-height: 77px;
  color: black;
}

.Members {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.Display {
  height: 767px;
  width: 480px;
  border-radius: 40px;
  margin-bottom: 200px;
  background: #e4eeff;
  box-shadow:  20px -20px 43px #c2cad9
}