.Page {
  position: relative;
}

.Navbar {
  height: 90%;
  width: 50px;
  position: fixed;
  top: 50px;
  right: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  
  border-radius: 15px;
  background: #e4eeff;
  box-shadow:  10px 10px 20px #cfd9e8;
}

.Navbar div {
  color: #616875;
  font-weight: 600;
  font-size: 12px;
  line-height: 17px;
  cursor: pointer;
}

.Navbar div:hover {
  font-weight: 800;
  font-size: 14px;
  line-height: 17px;

}

.Main {
  background-color: #d2e1f6;
  width: 100%;
  justify-content: center;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.Playlist {
  height: 200px;
  width: 100%;
  justify-content: center;
  text-align: center;
  align-items: center;
  display: flex;
}

.Playlist div {
  width: 300px;
  height: 101px;
  justify-content: center;
  text-align: center;
  align-items: center;
  border-radius: 24px;
  background: linear-gradient(145deg, #cdd6e6, #f4ffff);
  box-shadow:  10px 10px 20px #cfd9e8,
              -10px -10px 20px #f9ffff;
}

.Playlist p {
  color: #616875;
  font-weight: 600;
  font-size: 32px;
  line-height: 37px;
}

.Years {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.Num {
  width: 92px;
  height: 77px;
  font-weight: 800;
  font-size: 64px;
  line-height: 77px;
  color: black;
}

.Members {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.Display {
  height: 767px;
  width: 480px;
  display: flex;
  flex-direction: column;
  border-radius: 40px;
  margin-bottom: 200px;
  background: #e4eeff;
  box-shadow:  20px 20px 43px #c2cad9
}

.Part1 {
  height: 13%;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  display: flex;
}

.Part1 a {
  width: 50%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Part1 div {
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#insta {
  width: 100%;
  height:100%;
  border-radius: 12px;
  background: #e4eeff;
  box-shadow:  10px 10px 20px #cfd9e8,
              -10px -10px 20px #f9ffff;
}

#insta:hover {
  width: 100%;
  height:100%;
  border-radius: 12px;
  background: #e4eeff;
  box-shadow: inset 10px 10px 20px #cfd9e8,
            inset -10px -10px 20px #f9ffff;
}

#insta img {
  width:50%;
  height:50%;
  object-fit:cover;
  color: #616875;
}

.Part1 p {
  text-align: center;
  color: #616875;
}

.Part2 {
  height: 45%;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
}

.Circle {
  align-items: center;
  justify-content: center;
  display: flex;
  width:300px;
  height:300px;
  border-radius: 150px;
  background: linear-gradient(145deg, #f4ffff, #cdd6e6);
  box-shadow:  9px 9px 18px #878c96,
              -9px -9px 18px #ffffff;
}
.Photo {
  overflow: hidden;
  width:290px;
  height:290px;
  border-radius: 150px;
}

.Photo img {
  width:100%;
  height:100%;
  object-fit:cover; 
}

.Part3 {
  height: 13%;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

#name {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #616875;
}

#session {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #616875;
  display: flex;
}

#band {
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  color: #616875;
  display: flex;
}

.Part4 {
  height: 10%;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.Many{
  height: 70%;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-weight: 400;
  font-size: 8px;
  line-height: 13px;
  color: #616875;
}

.Bar {
  position: relative;
  height: 12%;
  width: 90%;
  margin-top: 6px;
  margin-bottom: 6px;
  border-radius: 10px;
  background: #e4eeff;
  box-shadow: inset 2px 2px 4px #878c96,
              inset -2px -2px 4px #ffffff;
}

.Progress {
  height: 100%;
  border-radius: 149px;
  background: linear-gradient(145deg, #5c86ff, #7398fb);
}

.Now {
  position: absolute;
  bottom: -8px;
  width:25px;
  height:25px;
  transform: translateX(-50%);
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 149px;
  background: linear-gradient(145deg, #f4ffff, #cdd6e6);
  box-shadow:  2px 2px 5px #b2bac7,
              -2px -2px 5px #ffffff;
}

.Now div {
  width:15px;
  height:15px;
  border-radius: 149px;
  background: linear-gradient(145deg, #5c86ff, #7398fb);
}

.Part5 {
  height: 20%;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  display: flex;
}

.Part5 .Btn {
  width: 60px;
  height: 60px;
  border-radius: 149px;
  background: linear-gradient(145deg, #f4ffff, #cdd6e6);
  box-shadow:  14px 14px 28px #b2bac7,
            -14px -14px 28px #ffffff;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  display: flex;
}

.Part5 .Btn img {
  width: 10px;
  height: 10px;
}

.Part5 .Btn:hover {
  width: 60px;
  height: 60px;
  border-radius: 149px;
  background: #e4eeff;
  box-shadow: inset 6px 6px 12px #b2bac7,
              inset -6px -6px 12px #ffffff;
}

#play {
  width: 70px;
  height: 70px;
  border-radius: 149px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(145deg, #f4ffff, #cdd6e6);
  box-shadow:  14px 14px 28px #b2bac7,
            -14px -14px 28px #ffffff;
}

#playbtn {
  width: 65px;
  height: 65px;
  border-radius: 149px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #5c86ff;
  box-shadow: inset 6px 6px 12px #4869c7,
            inset -6px -6px 12px #70a3ff;
}

#btn {
  width: 10px;
  height: 10px;
  border-radius: 0;
  background: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.NemO {
  background-color: #e4eeff;
  height: 100%;
  width: 30%;
}

/* 테블릿 세로 (해상도 768px ~ 1023px)*/ 
@media all and (min-width:768px) and (max-width:1023px) {
  /*스타일입력*/
} 

/* 모바일 가로, 테블릿 세로 (해상도 480px ~ 767px)*/ 
@media all and (min-width:480px) and (max-width:767px) {
  /*스타일입력*/
  .Navbar {
    height: 100%;
    width: 30px;
    position: fixed;
    left: 0;
    top:0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    z-index: 1;
    border-radius: 0;
    box-shadow: none;
  }

  .Navbar div {
    color: #616875;
    font-weight: 400;
    font-size: 8px;
    line-height: 13px;
    cursor: pointer;
  }
  
  .Navbar div:hover {
    font-weight: 600;
    font-size: 10px;
    line-height: 15px;
  }
} 

/* 모바일 가로, 테블릿 세로 (해상도 ~ 479px)*/ 
@media all and (max-width:479px) {
  /*스타일입력*/
}

