.Page2 {
  display: flex;
  width: 100%;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 100vh;
}

.Nemo {
  height: 760px;
  width: 480px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  background: #e4eeff;

  justify-content: center;
  text-align: center;
  align-items: center;
}